.ProductPage-Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.ProductPage-img {
    display: flex;
    width: 60vw;
    height: fit-content;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background: inherit;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.product-header img {
    height: 300px;
    padding: 1rem;
    object-fit: cover;
}

.ProductPage-rating-header {
    box-sizing: border-box;
    margin-top: .75rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60vw;
    padding: 1rem;
}

.ProductPage-rating-header p {
    margin-left: 1rem;
    color: rgb(87, 87, 87);
}

.ProductPage-rating-header button {
    background: #2704d7;
    border: none;
    border-radius: 1rem;
    padding: .5rem 1rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-left: .5rem;
}

#rate-button {
    margin-left: auto;
}

.ReviewTile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.ReviewTile {
    box-sizing: border-box;
    margin-top: .75rem;
    display: flex;
    border-radius: .5rem;
    height: 4rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60vw;
    align-items: center;
}

.review-rating {
    margin-left: auto;
}

#ProductPage-profile-img {
    margin-right: 1rem;
}
